<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <app-pais-input
                (onEnter)="buscar( $event )"
                placeholder="Buscar capital...">
            </app-pais-input>
        </div>
    </div>
    
    <hr>
</div>

<div *ngIf="hayError" 
     class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">

        <app-pais-tabla [paises]="paises"></app-pais-tabla>


    </div>
</div>